<html>

<head>
    {% if title %}
    <title>{{ title }} - Microblog</title>
    {% else %}
    <title>Welcome to Microblog</title>
    {% endif %}
</head>

<body>
    <div>Microblog:
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="#">Service</a>
        <a href="#">About us</a>
    </div>

    <hr> {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
</body>

</html>
